/* Copyright 2018-2023 Epic Systems Corporation */
body {
    background: transparent url("../images/prelogin.jpg") no-repeat fixed center center/cover;
    margin: 0 auto;
    position: relative;
  }
  
  body:not(.graphicHeader) #content:after, body.accessPage #content:after, body.recoveryPage #content:after, body.resetPage #content:after {
    background: transparent url("../images/prelogin_blurred.jpg") no-repeat fixed center center/cover;
  }
  
  @media screen and (min-width: 769px) {
    body.isPrelogin.graphicHeader.md_selftriage_load #wrap, body.isPrelogin.graphicHeader.md_landingpage_loadlandingpagedecisiontrees #wrap, body.isPrelogin.graphicHeader.md_openscheduling_index #wrap, body.isPrelogin.graphicHeader.md_onmyway_index #wrap, body.isPrelogin.graphicHeader.md_crossdeploymentscheduling_schedulefromtoken #wrap, body.isPrelogin.graphicHeader.graphicHeader.md_openscheduling_standalone #wrap, body.isPrelogin.graphicHeader.graphicHeader.md_anonymoustelehealth_index #wrap, body.isPrelogin.graphicHeader.md_telemedicinehome_guestvisit #wrap, body.isPrelogin.graphicHeader.md_standalone_signup #wrap, body.isPrelogin.graphicHeader.tvmode.graphicHeader #wrap {
      left: auto;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
  @media screen and (min-width: 1300px) {
    body.isPrelogin.graphicHeader.md_selftriage_load .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_landingpage_loadlandingpagedecisiontrees .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_openscheduling_index .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_onmyway_index .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_crossdeploymentscheduling_schedulefromtoken .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.graphicHeader.md_openscheduling_standalone .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.graphicHeader.md_anonymoustelehealth_index .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_telemedicinehome_guestvisit .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.md_standalone_signup .header_graphic.static .fitme.width, body.isPrelogin.graphicHeader.tvmode.graphicHeader .header_graphic.static .fitme.width {
      min-width: 1152px;
      width: 66.67%;
    }
  }
  
  .datatile body,
  .datatile #content:after {
    background: none;
  }
  .datatile #content {
    box-shadow: 0 0 0;
  }
  
  body #wrap {
    margin: 0 auto;
    min-width: 1152px;
    width: 66.67%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }
  body.passthru #wrap, .datatile #wrap {
    min-height: auto;
    width: 100%;
    left: 0;
    margin: 0;
  }
  
  body.passthru {
    background: none;
  }
  
  #wrap {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    max-width: 1440px;
  }
  body.ready #wrap {
    opacity: 1;
  }
  
  #header:not(:empty).prelogin {
    background-color: rgba(255, 255, 255, 0.88);
    min-width: 0;
    position: relative;
    height: 5.5em;
    padding: 0.5em 0 0;
  }
  @media screen and (min-width: 1301px) {
    #header:not(:empty).prelogin {
      margin: 0 0 3px;
      border-radius: 6px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: 768px) {
    #header:not(:empty).prelogin {
      height: auto;
      padding: 0;
    }
  }
  
  #header:not(:empty).preloginError {
    min-width: 1280px;
    height: 5.5em;
    padding: 0.5em 0 0;
    margin: 0 0 3px;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  #content {
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  @media screen and (max-width: 1300px) {
    .mainLoginContent.beforeLoginFields.enrollment {
      display: none;
    }
  }
  #sidebar .mainLoginContent.afterLoginFields {
    max-width: none;
  }
  @media screen and (min-width: 1301px) {
    .mainLoginContent.afterLoginFields.enrollment {
      display: none;
    }
  }
  
  #main {
    padding: 0.5rem 1.25rem 2rem;
  }
  .tvmode #main {
    padding: 0;
    height: 100vh;
  }
  
  #sidebar {
    padding: calc(0.5rem + 6rem + 1rem) 1rem 0.5rem;
    position: relative;
  }
  
  .logo {
    background: transparent url("../images/loginlogo.png") no-repeat scroll center center/contain;
    display: block;
    max-height: 6rem;
    margin: 0 auto 2.5rem;
    width: auto;
    max-width: 900px;
  }
  @supports (content: url()) {
    .logo {
      background: none;
      content: url("../images/loginlogo.png");
      object-fit: contain;
      max-width: min(100%, 900px);
    }
  }
  .logo + .title h1 {
    padding: 0;
  }
  
  .isPrelogin .title h1 .subjectIndicator {
    display: none;
  }
  
  .featureGridWrapper {
    overflow: hidden;
  }
  
  .features {
    list-style: none;
    padding: 0 0 1rem;
  }
  .features li {
    padding-left: 75px;
    background-repeat: no-repeat;
  }
  .features .icon-advice {
    background-image: url("../images/quicklinks/medical_advice.png");
  }
  .features .icon-testResults {
    background-image: url("../images/quicklinks/test_results.png");
  }
  .features .icon-medications {
    background-image: url("../images/quicklinks/medications.png");
  }
  .features .icon-calendar {
    background-image: url("../images/quicklinks/appointments.png");
  }
  .features .info {
    font-size: 0.9rem;
  }
  
  #signup {
    text-align: center;
  }
  #signup .header {
    color: inherit;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0;
  }
  #signup span {
    display: block;
  }
  
  #signupForm {
    position: relative;
  }
  
  .badges {
    display: inline-block;
    vertical-align: bottom;
    width: 17rem;
    min-height: 38px;
  }
  @media (max-width: 768px) {
    .badges {
      width: 100%;
    }
  }
  .badges a {
    display: inline-block;
    margin: 0 0.25rem;
    vertical-align: bottom;
  }
  .badges a:first-child {
    margin: 0 0.25rem 0 0;
  }
  .badges a:last-child {
    margin: 0 0 0 0.25rem;
  }
  .badges .badge {
    vertical-align: bottom;
    min-height: 38px;
    height: 2.25rem;
  }
  
  .links a,
  .login .recovery {
    font-size: 0.8rem;
  }
  
  .links {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    width: calc(100% - 17rem);
  }
  @media (max-width: 768px) {
    .links {
      margin-top: 1rem;
      width: 100%;
    }
  }
  .links a {
    display: inline-block;
    margin: 0 0.25rem;
  }
  .links a:first-child {
    margin: 0 0.25rem 0 0;
  }
  .links a:last-child {
    margin: 0 0 0 0.25rem;
  }
  
  .loginAlerts,
  .alertHeader {
    text-align: center;
  }
  .loginAlerts .card,
  .alertHeader .card {
    padding: 0.5rem;
  }
  
  .alertHeader {
    padding: 0.75rem 0 1rem;
  }
  .alertHeader:empty {
    padding: 0;
  }
  
  .loginCaptcha {
    margin-top: 1rem;
  }
  
  .downTimeAlert {
    margin: calc(-6rem - 1rem) 0 1rem;
    min-height: 3rem;
  }
  
  .loginAlerts {
    margin: calc(-6rem - 1rem) 0 1rem;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .downTimeAlert + .loginAlerts {
    margin: 0 0 1rem;
    min-height: initial;
  }
  
  #locale_container + loginAlerts {
    margin: calc(-6rem - 1rem + 1.25rem) 0 1rem;
  }
  
  .loginAlerts span,
  .alertHeader span {
    display: block;
  }
  .loginAlerts img,
  .alertHeader img {
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    width: 2.5rem;
  }
  
  .login input {
    width: 100%;
  }
  .login input.button {
    margin: 0.5rem 0;
  }
  
  .login .recovery {
    margin: 0.5rem 0 0;
    text-align: center;
  }
  .login .recovery a {
    display: inline-block;
    width: 50%;
  }
  
  #footer {
    background: none;
    position: relative;
  }
  #footer .mainStyle {
    padding-top: 2rem;
  }
  #footer .sidebarStyle {
    padding-top: 2rem;
  }
  #footer .midlogin {
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
  }
  #footer .midlogin .midLoginCopyright {
    width: auto;
    padding: 0 0 0 1rem;
  }
  
  .pretext + form {
    margin: 0.75rem 0 0;
  }
  
  .formsection label + .helptext,
  .formsection legend + .helptext {
    margin: 0 0 0.25rem;
  }
  
  #locale_container.prelogin {
    top: -7rem;
  }
  #locale_container.midlogin {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  
  .navigation.backarrow {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: auto;
  }
  .navigation.backarrow a.link.previousstep {
    display: inline-flex;
    align-items: center;
  }
  .navigation.backarrow svg.backnavigationarrow {
    height: 16px;
    width: 16px;
    color: #898d8d;
    fill: currentColor;
    margin-right: 0.15rem;
  }
  
  #main #locale_container.prelogin {
    max-width: 250px;
    min-height: 3rem;
    float: right;
    top: 0;
  }
  @media screen and (max-width: 1300px) {
    #main #locale_container.prelogin {
      max-width: 185px;
    }
  }
  @media screen and (max-width: 768px) {
    #main #locale_container.prelogin {
      max-width: none;
      float: none;
      min-height: 0;
      margin-left: auto;
    }
  }
  
  body.instantactivation #locale_container.prelogin {
    top: auto;
  }
  
  .lb_content {
    width: 90%;
  }
  
  #LoginNoCookies {
    text-align: center;
  }
  
  hr {
    margin: 1rem 0;
  }
  
  .faq {
    margin: 0 0 1rem;
  }
  .faq ul {
    margin: 0.75rem 0 0.75rem 1rem;
  }
  .faq .list_of_links {
    margin: 0;
  }
  .faq h3 {
    padding: 0.75rem 0 0;
  }
  .faq h3.header {
    padding: 0;
    font-weight: bold;
    color: #363636;
    font-size: 1rem;
  }
  
  body > div {
    Width: auto;
  }
  
  @media screen and (min-width: 768px) {
    .mobile .instantactivation,
  .mobile .instactconfirmation {
      background: url("../images/prelogin.jpg") no-repeat fixed center center/cover;
    }
  }
  .login #submit + .spinningLoadWheel {
    margin: -2.8rem auto 1.3rem;
    display: block;
  }
  
  #captchaContainer .required::before {
    position: absolute;
  }
  
  .navparent {
    overflow: hidden;
    margin: 1rem 0 0.5rem;
  }
  
  .navchild {
    font-size: 1.25rem;
    position: relative;
    margin-bottom: 1.5rem;
    display: inline-block;
    width: auto;
  }
  .navchild::after {
    border-bottom: 1px solid #cccccc;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 100%;
    position: absolute;
    width: 1500%;
  }
  
  .membertab {
    border-style: solid;
    border-width: 0.25rem 1px 1px;
    display: inline-block;
    margin: 0 -1px;
    opacity: 0.8;
    position: relative;
    width: auto;
  }
  .membertab.selected {
    border-style: solid solid none;
    border-width: 0.25rem 1px 0;
    margin: 0;
    opacity: 1;
  }
  
  .navparent.condensed .membertab:not(.selected) .tabimg + .tabname {
    width: 0;
  }
  .navparent.condensed .membertab:not(.selected) a {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .membertab:first-child, .membertab.selected:first-child + .membertab {
    margin: 0 -1px 0 0;
  }
  .membertab a {
    display: block;
    font-size: 0.9em;
    padding: 0.5rem 1.25rem;
  }
  .membertab.hover:not(.selected) {
    border-style: solid;
    border-width: 0.25rem 1px 1px;
    opacity: 1;
  }
  .membertab a img.tabimg {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    height: 2rem;
    margin-right: 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    width: 2rem;
  }
  .membertab a .tabname {
    display: inline-block;
    width: calc(100% - 2rem - 0.5rem);
    overflow: hidden;
    vertical-align: middle;
    height: 2.5rem;
    line-height: 1.25rem;
  }
  
  .tabcontainer {
    border-color: #cccccc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin: 3.25rem 0 0;
    padding: 0.5rem;
  }
  .navparent ~ .tabcontainer {
    border: none;
    margin: 0;
    padding: 0;
  }
  .tabcontainer .navparent {
    left: calc(-0.5rem - 1px);
    margin: 0 0 -3.25rem;
    position: relative;
    top: calc(-3rem + 1px);
    width: calc(100% + 1rem + 2px);
    padding-bottom: 0.5rem;
  }
  .tabcontainer .navchild {
    margin: 0;
  }
  
  @media (min-width: 1280px) {
    body.liteMode #wrap {
      width: 33%;
      min-width: 350px;
    }
    body.liteMode #content #sidebar .formcontents {
      width: 75%;
      margin: 0 auto;
    }
    body.liteMode #content #sidebar {
      width: 100%;
      padding-bottom: 3.5rem;
      padding-top: 2rem;
    }
    body.liteMode #content #sidebar .logo {
      margin-top: 1rem;
      background-size: contain;
      background-position-y: center;
    }
    body.liteMode #content #sidebar .downTimeAlert {
      margin: 0 auto;
      width: 75%;
      min-height: 0;
    }
    body.liteMode #content #sidebar .loginAlerts {
      margin: 0 auto;
      width: 75%;
      min-height: 0;
      position: relative;
    }
    body.liteMode #content #sidebar .downTimeAlert + .loginAlerts {
      min-height: 0;
    }
    body.liteMode #content #sidebar a.button {
      margin: 0.5rem auto;
      width: 75%;
    }
    body.liteMode #footer .sidebarStyle {
      padding-top: 0rem;
      width: 100%;
    }
    body.liteMode #locale_container.prelogin {
      top: 0rem;
    }
  }
  .md_help_displayjavascripthelp #main, .md_help_displaycookieshelp #main {
    padding-left: 1.5rem;
  }
  
  .md_termsconditions_index form {
    padding: 0 10%;
  }